<nav>
    <ul>
      
      <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/admin/create-user" routerLinkActive="active">Create User</a></li>
      <li><a routerLink="/admin/teams-view" routerLinkActive="active">Teams View</a></li>
      <li>
        <button (click)="logout()" style="border: none; background: none; cursor: pointer;">
          Cerrar sesión
        </button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
