@if (haveClients) {
    <p-table [value]="clients" [paginator]="true" [rows]="size" [totalRecords]="totalRecords" (onPage)="OnPageChange($event)">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 22%;">
                    Asignado a:
                </th>
                @for (col of columns; track $index) {
                    <th style="width: 22%;">{{col.header}}</th>
                }            
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr>
                <td>
                    @if (client.user) {
                        Asignado
                    }
                    @else {
                        <p-button label="Asignar" (onClick)="assignUserDialog(client.id)"/>
                    }
                </td>
                @for (col of columns; track $index) {
                    <td>{{ col.field === 'id' || col.field === 'stage' ? client[col.field] : (client.dataInfo[col.field] || '') }}</td>
                }
            </tr>
        </ng-template>
    </p-table>
}
@else {
    
    <div>
        <input type="file" id="fileInput" accept=".json" style="display: none" (change)="onFileSelected($event)" />
        <button type="button" (click)="openFilePicker()">Seleccionar Archivo JSON</button>
      </div>
}

