
<div style="display: flex; justify-content: center; align-items: center;">
  <form [formGroup]="credentials" (ngSubmit)="ngSubmit()">
    <p-card header="Iniciar Sesión" [style]="{width:'360px'}">
      <div class="field">
        <label for="username">Nombre de Usuario</label>
        <input type="text"
        pInputText
        formControlName="userName"
        class="w-full"
        name="username"
        placeholder="Ingrese su nombre de usuario"
        />
      </div>
      <div class="field">
        <label for="password">Contraseña</label>
        <input type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Ingrese su contraseña"
        />
      </div>
      <p-button
      label="Ingresar"
      styleClass="w-full"
      type="submit"
      
      ></p-button>
    </p-card>
  </form>
</div>

