<nav class="navbar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/saved" routerLinkActive="active">Saved</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/collections" routerLinkActive="active">Collections</a>
      </li>
      <li class="logout-button"> 
        <button (click)="logout()" style="border: none; background: none; cursor: pointer;">
          Cerrar sesión
        </button>
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
