<!--<nav class="navbar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/saved" routerLinkActive="active">Saved</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/collections" routerLinkActive="active">Collections</a>
      </li>
      <li class="logout-button"> 
        <button (click)="logout()" style="border: none; background: none; cursor: pointer;">
          Cerrar sesión
        </button>
      </li>
    </ul>
  </nav>-->
  <p-menubar [model]="items">
    <ng-template pTemplate="item" let-item>
      @if(item.route){
        
        <a [routerLink]="item.route" class="p-menuitem-link" >
          <span [class]="item.icon"></span>
          <span class="ml-2">{{item.label}}</span>
        </a>
        
      }
      
    </ng-template>
  </p-menubar>
  <router-outlet></router-outlet>
